@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
  zoom: 200%;
}

.text {
  font-family: 'Anonymous Pro', monospace;
  color: #ffffff;
}

.center {
  display: grid;
  align-items: center;
  justify-items: center;
}

header {
  border-bottom: 1px solid #ffffff;
}

.img {
  border: 2px solid white;
}

.navbar {
  border-bottom: 1px solid #ffffff;
}

.navbar:hover {
  border-color: green;
}

a:link, a:visited, a:hover, a:active {
  color: transparent;
}

/* Large */
button {
  background-color: white;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: green;
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

body {
  background-color: rgb(25, 25, 25);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  border-top: 1px solid #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 22em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}